/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

.gwt-MenuItem-disabled{
	color:lightgrey;
}

.panelPhrases{
    border-color: black;
    border-style: groove;
    min-width: 642px;
}

.panelRemoved{
    border-color: black;
    border-style: groove;
    min-width: 642px;
    min-height: 100px;
}

.panelAuto{
    border-color: black;
    border-style: groove;
    min-width: 642px;
    min-height: 100px;
}

.panelManual{
    border-color: black;
    border-style: groove;
    min-width: 642px;
    min-height: 100px;
}

.selectedLab{
    color: blue;
}

.selectedLabMarked{
    color: magenta;
}

.dialog{
	min-height: 300px;
	min-width: 300px;
}

.semanticaLabel{
	font-weight: bold;
}

.semanticaLabelDescriptors{
	font-weight: bold;
}

.semanticaLabelNames{
	margin-left: 1em;
}

.semanticaLabelDescSons{
	margin-left: 1em;
}

.semanticaLabelValueDes{
	margin-left: 1em;
}

.VPSeman{
	margin-bottom: 2em;	
}

.VPSemDesc{
	margin-bottom: 2em;	
}

.semanticaLabelDescSonsElem{
	margin-bottom: 0.5em;	
}

.panelRemD{
	border-right: groove;
	    min-width: 321px;
}

.panelRemI{
	border-left: groove;
	    min-width: 321px;
}

.boldData{
	font-weight: bold;	
}


.MinMain
{
	min-height: 600px; 
	min-width:  800px;
}

.MinMain2
{
	min-height: 840px; 
	min-width:  1467px;
}

.maxImagePortada{
	max-height: 476px;
}

.maxmin400x200{
	
	min-width: 200px;
	max-width: 400px;
}

.panelMetamap{
	width: 274px;	
    min-height: 350px;
	border-color: black;
    border-style: groove;
}

.panelUses{
	min-height: 300px;
	border-color: black;
    border-style: groove;
    width: 274px;
}

.panelImages{
	width: 100%;
	min-width: 534px;
	border-color: black;
    border-style: groove;
}

.panelTraduct{
	/**width: 270px;**/
	border-color: black;
    border-style: groove;
    height: 164px;
    width: 100%;
}

.imageDoc{
	max-width: 532px;
	max-height: 497px;
}

.autoScroll{
	max-height: 300px;
}

.botoneraDelete{
	border-left: groove;
	height: 100%;
}

.labelDeleteDoc{
	color: red;
	
}

.simplePanel{
margin-left: 1em;	
}

.botoneraTimmer{
	border-left: groove;
	height: 100%;
}

.botoneraId{
	border-left: groove;
	height: 100%;
}

.botoneraTAnnotation{
	border-left: groove;
	height: 100%;
}


.metamapZoneLogo {
    max-width: 266px;
    max-height: 343px;
}

}